@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "poppins";
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width:1580px;
  margin: 0 auto;
  
}

li {
  text-align: center;
  display: flex;
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}

img {
  display: flex;
}

button{
  all: unset;
  padding: 6px 16px;
  height: 32px;
  font-weight: 500px;
  background-color: red;
  color: white;
  border: 0cap;
}

.icons{
  display: flex;
  gap: 10px;
  
}


.hero{
  display: flex;
  
  align-items: center;
  height: calc(100vh - 72px);

}

.container {
  max-width:1580px;
  margin-left: 200px;

  align-items: center;
}

.hero h1 {
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}

.hero h4 {
  font-weight: 600;
}

.shop-now {
gap: 20px;

}

.category {
  background-color: rgb(186, 173, 173);
  margin-left: 10px;
}